	


	
	
	/************************************* COLUMNS ************************************/
	
	.cs {
		position: relative;
		padding: 0px 15px;
		margin: 0px;
		margin-left: -30px;
		margin-right: -30px;
	}		
	
	.cc {
		float: left;
		min-height: 1px;
		padding: 0px 15px;
		position: relative;
		
		box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;	 
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box; 
	}

	.cc img, .cc .img {
		width: 100% !important;
		height: auto !important;
	}
	
	.cs .cc,
	.cs1-1 > .cc, .cs2-2 > .cc, .cs3-3 > .cc, .cs4-4 > .cc {
		width: 100%;
	}	
	
	.cs2 > .cc, .cs2-11 > .cc,
	.cs4-22 > .cc,
	.cs4-211 > .cc:first-child,
	.cs4-112 > .cc:nth-child(3),
	.cs4-121 > .cc:nth-child(2) {
		width: 50%;
	}	
	
	.cs3 > .cc, .cs3-111 > .cc,
	.cs3-12 > .cc:nth-child(1),
	.cs3-21 > .cc:nth-child(2) {
		width: 33.33%;
	}
	
	.cs3-12 > .cc:nth-child(2),
	.cs3-21 > .cc:nth-child(1) {
		width: 66.66%;
	}
	
	.cs4 > .cc, .cs4-1111 > .cc,
	.cs4-13 > .cc:nth-child(1), .cs4-31 > .cc:nth-child(2),
	.cs4-211 > .cc:nth-child(2), .cs4-211 > .cc:nth-child(3),
	.cs4-112 > .cc:nth-child(1), .cs4-112 > .cc:nth-child(2),
	.cs4-121 > .cc:nth-child(1), .cs4-121 > .cc:nth-child(3) {
		width: 25%;
	}
	
	.cs4-13 > .cc:nth-child(2), .cs4-31 > .cc:nth-child(1) {
		width: 75%;
	}
	
	.cs1-1 > .cc, .cs2-2 > .cc, .cs3-3 > .cc, .cs4-4 > .cc {
		width: 100%;
	}



	@media only screen and (max-width: 500px) {
		
		.hidmob {
			display: none !important;
		}

		.hiddesk, .hidesk {
			display: inherit;
		}
		
		.cc {
			width: 100% !important;
			float: none !important;
			padding: 30px 15px 0px 15px;
		}

		.cs4-1111 .cc:nth-child(2), .cs4-112 .cc:nth-child(2) {
			padding-top: 30px !important;
		}
		
		.cc:first-child {
			padding-top: 0px !important;
		}

		.cc.hidmob + .cc {
			padding-top: 0px !important;
		}
	
	}
	
	

	
	