/*!

	Theme Name: Winterhalter
	Author: Fouad Vollmer Werbeagentur
	Author URI: http://fouadvollmer.de
	Description: Individuelles gestaltetes Theme von der Fouad Vollmer Werbeagentur

*/


@import './assets/styles/smart';

#gdycn_container {
	background: #b62b2a !important;
}


/************************************* FOUCONS *************************************/

@font-face {
	font-family: 'Foucons';
	src:url('./assets/icons/foucons.eot?-d36qdx');
	src:url('./assets/icons/foucons.eot?#iefix-d36qdx') format('embedded-opentype'),
	url('./assets/icons/foucons.woff?-d36qdx') format('woff'),
	url('./assets/icons/foucons.ttf?-d36qdx') format('truetype'),
	url('./assets/icons/foucons.svg?-d36qdx#foucons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.foucon {
	font-family: 'Foucons', serif;
	vertical-align: top;
}



/************************************* DEFAULTS *************************************/

* {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

body {
	font-family: 'Open Sans', 'Open-Sans', Arial, Helvetica, sans-serif;
	background: url(./assets/images/bg.jpg) repeat center 100px;
	background-size: 920px 590px;
	font-size: 13px;
}

a, button, #ytc {
	transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}

a {
	color: #862d16;
	text-decoration: none;
}

a:hover {
	color: #682615;
}

h1, h2 {
	font-family: 'Allura', 'Times New Roman', Times, serif;
	zoom: 1;
	font-size: 60px;
	line-height: 50px;
	font-weight: 400;
	color: #fff;
}

@media only screen and (max-width: 500px) {

	h1, h2 {
		font-size: 50px;
		line-height: 40px;
	}

}

.button, button {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	color: #8c683b;
	letter-spacing: 0.1em;
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	background: transparent;
	cursor: pointer;
	box-shadow: inset 0 0 0 2px #c4ad91;
	transition: box-shadow 200ms;

	&:hover {
		box-shadow: inset 0 0 0 2px #a68359;
	}

	&.bright {
		color: #fff;

		&:hover {
			box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
		}
	}
}



#showcase-Content .button, .showcaseContent .button:hover {
	background: #b62b2a;
	height: 25px;
	line-height: 25px;
	box-shadow: none !important;
	min-width: 200px;
	border-radius: 3px;
}


#showcase-Content .button::after {
	font-family: 'Foucons', serif;
	content: '\e677';
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
	opacity: 0.5;
}







/************************************* SMART *************************************/

.modpad {
	padding: 60px !important;
}

@media only screen and (max-width: 500px) {

	.modpad {
		padding: 40px 30px !important;
	}

}

.floater {
	max-width: 920px;
	margin: 0 auto;
}

.strong {
	font-weight: bold;
}

.tgreen {
	color: #579f3e;
}

.twhite {
	color: #fff;
}

.tbrown {
	color: #80631c;
}

.tt {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.pl {
	padding-left: 30px;
}

.pt {
	padding-top: 30px;
}

.pth {
	padding-top: 15px;
}

.pol {
	position: relative;
	width: 80px;
	height: 80px;
	background: #fff;
	border: solid 10px #fff;
	box-shadow: 0 1px 6px rgba(0,0,0,0.2);
}

.pol img, .pol .gdy_modularContent_Image {
	width: 100% !important;
	height: 100% !important;
	min-width: 100% !important;
	min-height: 100% !important;
}

.abs {
	position: absolute;
}

.rel {
	position: relative;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix::after, .clear::after, .fix::after {
	content: '';
	display: block;
	clear: both;
	float: none;
}





/************************************* HEAD *************************************/

#logo {
	position: absolute;
	width: 295px;
	height: 250px;
	display: block;
	z-index: 600;
	top: 0;
	left: 50%;
	margin-left: -500px;
}

#logo img {
	width: 100% !important;
	height: auto !important;
}

#nav {
	background: #00692c;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
	z-index: 500;
}

.gdymc_edit #nav,
.logged-in #nav {
	top: 40px;
}

#nav::after {
	content: '';
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	position: absolute;

	background: rgb(159,131,54);
	background: -moz-linear-gradient(left,  rgba(159,131,54,1) 0%, rgba(209,188,119,1) 50%, rgba(159,131,54,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(159,131,54,1)), color-stop(50%,rgba(209,188,119,1)), color-stop(100%,rgba(159,131,54,1)));
	background: -webkit-linear-gradient(left,  rgba(159,131,54,1) 0%,rgba(209,188,119,1) 50%,rgba(159,131,54,1) 100%);
	background: -o-linear-gradient(left,  rgba(159,131,54,1) 0%,rgba(209,188,119,1) 50%,rgba(159,131,54,1) 100%);
	background: -ms-linear-gradient(left,  rgba(159,131,54,1) 0%,rgba(209,188,119,1) 50%,rgba(159,131,54,1) 100%);
	background: linear-gradient(to right,  rgba(159,131,54,1) 0%,rgba(209,188,119,1) 50%,rgba(159,131,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f8336', endColorstr='#9f8336',GradientType=1 );
}




#nav a {
	display: block;
	position: relative;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.1em;
	text-shadow: 0 0 4px rgba(0,0,0,0.1);
	padding: 0 6px;
}



#menu-hauptmenue {
	display: inline-flex;
	list-style: none;
}

#menu-hauptmenue li {
	position: relative;
	transition: all ease-in-out 0.1s;
}

#menu-hauptmenue li::after {
	content: '';
	position: absolute;
	bottom: 15px;
	left: 8px;
	right: 8px;
	height: 2px;
	background: rgba(0,0,0,0.2);
	opacity: 0.0;

	transition: all ease-in-out 0.1s;
}

#menu-hauptmenue li:hover::after {
	bottom: 22px;
	opacity: 1.0;
}



#sublogo {
	position: relative;
	top: 15px;
	opacity: 0.0;
	margin-left: 15px;
}

.navan #sublogo {
	top: -1px;
	opacity: 1.0;
}

@media only screen and (max-width: 900px) {

	#logo {
		width: 250px;
		top: -10px;
		left: -50px;
		margin-left: 0;
	}

	#menu-hauptmenue > li {
		padding: 0 7px;
	}

	#menu-hauptmenue > li:last-child {
		padding-right: 15px;
	}

	#menu-hauptmenue > li::before {
		opacity: 0.0;
	}

}

@media only screen and (max-width: 900px) {

	#nav {
		display: none;
	}

}

@media only screen and (max-width: 500px) {

	#logo {
		width: 220px;
	}

}




/************************************* SHOP STUFF *************************************/

#shop_button {
	background: #b62b2a;
	border-radius: 3px;
	display: inline-block !important;
	color: #fff;
	line-height: 40px;
	margin-left: 8px;
	margin-right: 20px;
}

#shop_teaser {
	position: absolute;
	top: -100px;
	right: -100px;
	background: #b62b2a;
	border-radius: 150px;
	width: 180px;
	height: 180px;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
	line-height: 1.2em;
	transition: transform ease-in-out 0.15s;
	transform: scale(0.9) rotate(-8deg);
}

#shop_teaser:hover {
	transform: scale(1.0) rotate(-12deg);
}

#shop_teaser small {
	opacity: 0.5;
	font-size: 15px;
	font-weight: 400;
	line-height: 1em;
	display: block;
	margin-top: 40px;
}


@media only screen and (max-width: 1199px) {

	#shop_teaser {
		transform: scale(0.7) rotate(-8deg);
		right: -10px;
		top: -120px;
	}

	#shop_teaser:hover {
		transform: scale(0.7) rotate(-8deg);
	}

}







/************************************* SHOWCASE *************************************/

#showcase {
	width: 100%;
	margin-top: 75px;
	position: relative;
	height: 650px;
	background: #555 url(./assets/images/showcase.jpg) no-repeat center center;
	background-size: cover;
	overflow: hidden;
}

#showcase-Content {
	text-shadow: 0 0 4px rgba(0,0,0,0.2), 0 0 30px #5c7082;
	position: absolute;
	z-index: 7;
	width: 100%;
	top: 130px;
	text-align: center;
	color: #fff;
}

#showcase-Content p {
	margin: 15px 15px 20px 15px;
}

#headerLink {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

#showcase-Person {
	width: 100%;
	height: 600px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: 180px;

	transition: all ease-in-out 0.3s;
}

#showcase-Person img {
	width: auto;
	height: 100%;
}

@media only screen and (max-width: 920px) {

	#showcase-Person {
		left: 100%;
	}

	#showcase-Content {
		top: 150px;
	}

}


@media only screen and (max-width: 900px) {

	#showcase {
		margin-top: 0;
	}

}



/************************************* CONTENT *************************************/

#content {
	position: relative;
	background: #fff;
	margin: 0 auto;
	max-width: 920px;
	min-height: 100px;
	box-shadow: 0 0 40px rgba(0,0,0,0.7);
}

@media only screen and (max-width: 920px) {

	#content {
		margin: 0 auto;
	}

}

@media only screen and (max-width: 730px) {

	#contentinner {
		overflow: hidden;
	}

}

.sht, .shb {
	position: relative;
}

.sht::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.05);
	z-index: 1;
}

.shb::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,0.05);
	z-index: 1;
}

.sliderNext, .sliderPrev {
	width: 80px;
	height: 100%;
	top: 0;
	position: absolute;
	cursor: pointer;
	z-index: 10;
	opacity: 0.9;
	overflow: hidden;
}

.sliderNext.disabled, .sliderPrev.disabled {
	opacity: 0.3;
}

.sliderPrev {
	left: -80px;
}

.sliderNext {
	right: -80px;
}

.sliderNext::after, .sliderPrev::after {
	font-family: 'Foucons', serif;
	content: '';
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	position: absolute;
	font-size: 50px;
	color: #fff;
	opacity: 0.8;
	text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.sliderPrev::after {
	content: '\e678';
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.sliderNext::after {
	content: '\e677';
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

@media only screen and (max-width: 1100px) {

	.sliderNext, .sliderPrev {
		width: 60px;
	}

	.sliderPrev {
		left: 0;
	}

	.sliderNext {
		right: 0;
	}

	.sliderNext::after, .sliderPrev::after {
		text-shadow: none;
		font-size: 100px;
		opacity: 1.0;
	}

	.colored_arrows .sliderNext::after,
	.colored_arrows .sliderPrev::after {
		color: #ccc;
	}

	.sliderPrev::after {
		content: '\e633';
		text-align: left;
		left: 0;
		margin-left: 0;
	}

	.sliderNext::after {
		content: '\e634';
		text-align: right;
		left: -40px;
		margin-left: 0;
	}

}

.bgPaper, .contentModule-Filialen {
	background: url(./assets/images/bg-paper.jpg) repeat;
	background-size: 920px 500px;
}

.contentModule-Filialen {
	position: relative;
	height: 400px;
}

#filialKarte {
	background: url(./assets/images/map.png) repeat;
	background-size: cover;
	width: 350px;
	height: 400px;
	position: absolute;
	left: 5%;
	top: 0;
}

#offersHint,
.filialNote {
	display: block;
	width: 80px;
	height: 35px;
	background: url(./assets/images/klicken.svg) no-repeat center center;
	background-size: contain;
	position: absolute;
	bottom: -30px;
	right: -20px;
}

.filialNote {
	top: 240px;
	left: 216px;
}

.filialORT {
	position: absolute;
	font-size: 12px;
	font-style: italic;
	color: #9b9a9a;
	color: rgba(0,0,0,0.5);
}

.filialPOI {
	position: absolute;
	width: 10px;
	height: 10px;
	margin-top: -7px;
	margin-left: -7px;
	border: solid 2px #f6f2ee;
	border-radius: 20px;
	background: #79b700;
	cursor: pointer;
}

.filialPOI.active {
	z-index: 10;
	width: 14px;
	height: 14px;
	margin-top: -9px;
	margin-left: -9px;
}

.filialContent {
	position: relative;
	width: 180px;
	display: none;
	margin-top: 20px;
}

.filialContent.active {
	display: block;
}

.filialContentContainer {
	position: absolute;
	top: 60px;
	right: 16%;
}

.filialContentContainer p {
	margin: 15px 0;
}

.filialContentContainer table {
	width: 100%;
	border-bottom: solid 1px rgba(0,0,0,0.15);
}

.filialContentContainer td, .filialContentContainer th {
	border-top: solid 1px rgba(0,0,0,0.15);
	padding: 5px 0;
	text-align: left;
}

.filialContentContainer th {
	color: #aa9071;
}

@media only screen and (max-width: 750px) {

	.filialContentContainer {
		right: 7%;
	}

	#filialKarte {
		left: 3%;
	}

}

@media only screen and (max-width: 650px) {

	.contentModule-Filialen {
		height: auto;
	}

	#filialKarte {
		background: url(./assets/images/map.png) repeat;
		background-size: cover;
		width: 350px;
		height: 400px;
		position: static;
	}

	.filialContentContainer {
		position: static;
		padding-left: 170px;
		padding-bottom: 50px;
	}

}

@media only screen and (max-width: 380px) {

	.filialContentContainer {
		padding: 40px 30px;
	}

	.filialContent .pol {
		display: none;
	}

}

.historyShowcase {
	position: relative;
}

.historyContent {
	position: absolute;
	top: 60px;
	left: 60px;
	color: #fff;
}

.historyContent .subContent {
	margin-top: 15px;
	padding-left: 60px;
	padding-right: 20px;
}

.historyPolaroids {
	width: 340px;
	height: 240px;
	background: url(./assets/images/metzgerei-geschichte.png) no-repeat center center;
	position: absolute;
	bottom: -38px;
	left: 50%;
	margin-left: -170px;
	z-index: 3;
}

.historySliderContainer {
	padding: 60px 45px 60px 44px;
}

.historySlider {
	margin: 30px -15px 0 -15px;
}

.historySlide {
	float: left;
	width: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
}

@media only screen and (max-width: 450px) {

	.historyContent h1,
	.historyContent .subContent {
		display: none;
	}

	.historyPolaroids {
		top: -40px;
		bottom: initial;
	}

}

.contentModule-Party {
	background: url(./assets/images/bg_partyservice.jpg) no-repeat left top;
	background-size: 920px 500px;
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.contentModule-Party::after {
	content: '';
	position: absolute;
	left: 430px;
	top: 50%;
	margin-top: -135px;
	width: 300px;
	height: 270px;
	background: url(./assets/images/fg_partyservice.png) no-repeat left top;
	background-size: 300px 270px;
}

.contentModule-Party .subContent {
	margin: 15px 0 25px 0;
}

.contentModule-Winterzauberei {
	background: url(./assets/images/winterzauberei.jpg) no-repeat left top;
	background-size: 920px 500px;
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.contentModule-Winterzauberei .subContent {
	margin: 15px 0 25px 0;
}

.winterzaubereiContent .subLine {
	position: relative;
	top: -5px;
}

.partyContent .subLine {
	position: relative;
	top: -5px;
}

.contentModule-Rezepte {
	background: url(./assets/images/rezepte.png) no-repeat bottom left ;
	background-size: 240px 180px;
}

.contentModule-Rezepte .pol1 {
	width: 110px;
	height: 110px;
	top: -50px;
	right: 200px;
	z-index: 11;

	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
}

.contentModule-Rezepte .pol2 {
	width: 90px;
	height: 90px;
	top: -70px;
	right: 140px;
	z-index: 10;

	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
}

.contentModule-Rezepte .pol3 {
	width: 70px;
	height: 70px;
	top: -30px;
	right: 90px;
	z-index: 9;

	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
}

.rezeptSlide {
	float: left;
}

.wocheSlide {
	float: left;
	padding-top: 10px;
}

.rezeptSlide h1 {
	margin: 20px 0;
}

.rezeptInhalte {
	float: left;
	color: #999;
	width: 25%;
	text-align: right;
}

.rezeptBeschreibung {
	float: left;
	width:	75%;
}

@media only screen and (max-width: 730px) {

	.contentModule-Rezepte {
		background: none;
	}

	.contentModule-Rezepte .pol {
		display: none;
	}

	.rezeptInhalte,
	.rezeptBeschreibung {
		width:	100%;
		text-align: left;
	}

	.rezeptBeschreibung {
		padding-top: 30px;
	}

	.rezeptBeschreibung .pl {
		padding: 0;
	}

}

.wocheTabs-Button {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	color: #bbb;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 4px 0 0 #fff, -4px 0 0 #fff;
}

.wocheTabs-Button.active {
	color: #579f3e;
}

.wocheTabs-Button.active::after {
	content: '';
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 200px;
	height: 20px;
	z-index: -1;
	background: url(./assets/images/tab.svg) no-repeat center center;
}

.wocheTable {
	width: 100%;
	line-height: 22px;
	border-spacing: 0;
	border-collapse: separate;
}

.wocheTable td {
	border-top: dashed 1px #D9D6CE;
	padding: 10px 0;
	vertical-align: top;
}

.wocheKurz {
	text-transform: uppercase;
	color: #aaa;
	letter-spacing: 0.1em;
	font-weight: bold;
	width: 40px;
}

.wochePreis {
	font-family: 'Allura', 'Times New Roman', Times, serif;
	font-size: 22px;
	font-weight: 400;
	color: #b62b2a;
	width: 90px;
	text-align: right;
}

td.wochePreis {
	width: 120px;
}

.hitderwoche {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: dashed 1px #D9D6CE;
}

.wochePreis em, .wochePreis, .wochePreis i {
	font-size: 13px;
	color: #999;
	font-family: 'Open Sans', 'Open-Sans', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.wocheTable tr:first-child td {
	border-top: none;
}

.contentModule-Woche .pol {
	width: 110px;
	height: 110px;
	top: -15px;
	left: 560px;
	z-index: 10;

	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
}

.wocheMain {
	width: 75%;
}

.wocheMainInner {
	padding-right: 50px;
}

.wocheAside {
	width: 25%;
}

@media only screen and (max-width: 730px) {

	.contentModule-Woche .pol,
	.contentModule-Woche .tip {
		display: none;
	}

	.wocheMain,
	.wocheAside {
		width: 100%;
	}

	.wocheMainInner {
		padding-right: 0;
	}

	.wocheAside {
		margin-top: 50px;
	}

}

.contentModule-Woche .tip {
	top: 60px;
	left: 650px;
	z-index: 10;
}

.wocheAside .subContent {
	padding: 20px 0;
}

.contentModule-Woche {
	background: url(./assets/images/woche.png) no-repeat top right;
	background-size: 180px 130px;
}

.tip {
	width: 85px;
	height: 85px;
	background: url(./assets/images/tip.svg) no-repeat left top;
}

.contentModule-Geschenke {
	padding: 60px;
	color: #fff;
	background: url(./assets/images/bgdarkwood.jpg) repeat left top;
	background-size: 1000px 600px;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.contentModule-Geschenke .tip {
	position: absolute;
	top: 100px;
	left: -40px;
	transition: all ease-in-out 0.1s;
}

@media only screen and (max-width: 1100px) {

	.contentModule-Geschenke .tip {
		transform: scale(0.7,0.7);
		opacity: 0.0;
	}

}

.contentModule-Geschenke .subLine {
	position: relative;
	top: -4px;
}

.geschenkeContainer {
	margin: 0 -15px;
}

.geschenkeAside {
	width: 33.33%;
	float: left;
	margin-top: 30px;
	padding: 0 15px;
	box-sizing: border-box;
}

.geschenkeAside .button {
	margin-top: 20px;
}

.geschenkeSliderOuter {
	width: 66.66%;
	position: relative;
	float: left;
	overflow: visible !important;
	padding: 0 15px;
	box-sizing: border-box;
}

.geschenkeSlide {
	float: left;
	margin: 0 -15px;
}

.geschenkeDesc,
.geschenkeImg {
	width: 50%;
	float: right;
	padding: 0 15px;
	box-sizing: border-box;
}

.geschenkeDesc {
	margin-top: 30px;
}

.geschenkeImg img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 750px) {

	.geschenkeAside {
		width: 100%;
	}

	.geschenkeAside .button {
		display: none;
	}

	.geschenkeSliderOuter {
		width: 100%;
	}

}

@media only screen and (max-width: 600px) {

	.geschenkeDesc,
	.geschenkeImg {
		width: 100%;
	}

}

.geschenkeDesc .geschenkeHead {
	margin-bottom: 3px;
}

.geschenkeDesc .subLine {
	font-style: italic;
	color: rgba(255,255,255,0.7);
}

.geschenkeDesc .subContent {
	margin-top: 15px;
}

.geschenkeDesc .geschenkePreisContainer {
	border-bottom: dashed 1px #fff;
	border-bottom: dashed 1px rgba(255,255,255,0.5);
	margin-top: 15px;
	text-align: right;
	color: rgba(255,255,255,0.7);
}

.geschenkeDesc .geschenkePreis {
	font-family: 'Allura', 'Times New Roman', Times, serif;
	font-size: 22px;
	font-weight: 400;
	margin-left: 6px;
	color: rgba(255,255,255,1);
}

.contentModule-Gesunheit {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+21,ffffff+100 */
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,185,232,1) 21%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,185,232,1) 21%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,185,232,1) 21%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;
	color: #3d5788;
}

.contentModule-Gesunheitimage img {
	width: 100%;
}

.contentModule-Gesunheit a, .contentModule-Gesunheit a:hover {
	color: #26375a;
}

.contentModule-Gesunheit img {
	width: 100% !important;
	height: auto !important;
}

.contentModule-Gesunheit .headline {
	position: absolute;
	top: 35px;
	left: 60px;
}

.imageSlider,
.gdymc_gallery_container,
.imageSlider .caroufredsel_wrapper,
.imageSlider .gdymc_gallery,
.imageSlider .gdymc_gallery_item {
	width: 100%;
	height: auto;
}

.gdymc_gallery_item {
	float: left;
}

.gdymc_gallery_item img,
.gdymc_gallery_item .img {
	width: 100% !important;
	height: auto !important;
}

.contentModule-Offers {
	background: url(./assets/images/offers.png) no-repeat top right;
	padding: 60px 0;
}

.offerstable {
	width: 100%;
}

.offerstable td {
	border-top: dashed 1px #D9D6CE;
	padding: 10px 0;
}

.offerstable tr:first-child td {
	border: none;
}

.offersHead {
	font-family: 'Allura', 'Times New Roman', Times, serif;
	font-size: 22px;
	font-weight: 400;
}

.offersHead .offersRight {
	color: #b62b2a;
}

.offersSub .offersRight {
	color: #999;
}

.offersSlide {
	width: 800px;
	float: left;
	padding: 20px 60px 0 60px;
}

.offersRight {
	float: right;
	text-align: right;
}

.offersLeft {
	float: left;
}

.offersNo {
	width: 30px;
	border: none !important;
}



/************************************* FOOTER *************************************/


#footer {
	margin: 0 auto;
	max-width: 880px;
	padding: 15px 20px;
	position: relative;
	background: rgba(0,0,0,0.5);
}

#footer, #footer a, #footer a:hover {
	color: #fff;
	text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

#footer a {
	padding: 5px;
	display: inline-block;
	color: #fff;
}

#footer .left a:last-child {
	border: none;
}

@media only screen and (max-width: 700px) {

	#footer {
		text-align: center;
	}

	#footer .left, #footer .right {
		float: none;
		display: inline-block;
	}

}



/************************************* INSTAGRAM RIBBON *************************************/

.misha-insta-photos {
	margin: 0 auto !important;
	max-width: 920px !important;
	background: rgba(0,0,0,0.8);
	position: relative;
	overflow: hidden;
	border-radius: 0 0 5px 5px;
}

.misha-insta-photo {
	float: left !important;
	padding: 0 !important;
	opacity: 0.5 !important;
	width: 10% !important;
}

.misha-insta-photo img {
	width: 100% !important;
	height: auto !important;
}

@media only screen and (max-width: 900px) {

	.misha-insta-photo {
		width: 12.5% !important;
	}

	.misha-insta-photo:nth-child(-n+2) {
		display: none;
	}

}

@media only screen and (max-width: 700px) {

	.misha-insta-photo {
		width: 20% !important;
	}

	.misha-insta-photo:nth-child(-n+5) {
		display: none;
	}

}

@media only screen and (max-width: 500px) {

	.misha-insta-photo {
		display: block !important;
	}

}




/************************************* YOUTUBE OVERLAY *************************************/

$max-height-overlay: 800px;

.overlay  {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6) url(./assets/images/yto.png) no-repeat center center;
	z-index: 1000;
}

.overlaywindow {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
	transform: translate(-50%,-50%);
	max-width: 700px;
	width: 80%;
	max-height: $max-height-overlay;
}

.overlayclose {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	right: -50px;
	background: #cc181e;
	cursor: pointer;
}

.overlayclose::after {
	font-family: 'Foucons', serif;
	content: '\e901';
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 16px;
	margin-left: -25px;
	margin-top: -25px;
}

.overlayclose:hover {
	background: #bf0208;
}

.overlayinner {
	position: relative;
	overflow: scroll;
	max-height: $max-height-overlay;
	background: #fff;
	padding: 15px;
}

.overlaypadding {
	padding: 20px;
}

/************************************* OVERLAY CONTENTS *************************************/

.overlayinner ul {
	list-style: none;
}

.overlayinner ul li {
	position: relative;
}

.overlayinner ul li::before {
	content: '';
	display: block;
	position: absolute;
	top: 0.55em;
	left: -12px;
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background: #89c417;
}



/************************************* YOUTUBE VIDEO *************************************/

.ytv {
	position: relative;
	padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
	padding-top: 0;
	height: 0;
	overflow: hidden;
}

.ytv iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




/************************************* 3 SPALTEN *************************************/

.contentModule-3spalten {
	padding: 60px 45px;
	background: url(./assets/images/rosmarin.png) no-repeat top right;
	background-size: 250px 140px;
}

@media only screen and (max-width: 730px) {

	.contentModule-3spalten {
		background: none;
	}

}


.contentModule-3spalten i,
.contentModule-3spalten em {
	font-style: normal;
	color: #999;
}


.contentModule-3spalten li {
	list-style: none;
	position: relative;
	padding: 2px 0;
}


.contentModule-3spalten li::after {
	content: '';
	width: 7px;
	height: 1px;
	background: #aaa;
	position: absolute;
	top: 11px;
	left: -12px;
}


.contentModule-3spalten h1 {
	margin-bottom: 30px;
}

.spaltenholder {
	margin: 0 -15px;
}

.contentModule-3spalten .spalte {
	float: left;
	padding: 0 15px;
	width: 33.33%;
	box-sizing: border-box;
}

@media only screen and (max-width: 750px) {

	.contentModule-3spalten .spalte {
		width: 100%;
	}

	.contentModule-3spalten .spalte:not(:first-child) {
		margin-top: 30px;
	}

}





.gdy_modularContent_Module {
	clear: both;
	float: none;
}



/************************************* LOGOS *************************************/

#metalogos {
	position: absolute;
	top: 0;
	right: -110px;
	width: 100px;
	border-bottom: solid #fff 15px;
	z-index: 50;
}


#metalogos img {
	width: 70px;
	height: auto;
	border: solid 15px #fff;
	border-bottom: 0;
}

@media only screen and (max-width: 1175px) {

	#metalogos {
		display: none;
	}
}

@import 'scss/fonts';
@import 'scss/career';
@import 'scss/contact-form-7';
@import 'scss/footer-menu';
@import 'scss/site-footer';
@import 'scss/single-page';
@import 'scss/modal';
