/* 400 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./fonts/open-sans/OpenSans-Italic.woff2') format('woff2');
}
/* 700 */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/open-sans/OpenSans-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('./fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2');
}
