#overlay-karriere, .career {
	margin-bottom: 24px;

	table {
		width: 100%;
		border-collapse: collapse;
		border-bottom: solid 1px #c4ad91;
		font-size: 14px;
	}

	td:first-child {
		width: 60%;
	}

	td:nth-child(2), td:nth-child(3)  {
		width: 20%;
		word-break: break-word;
	}

	.karTit {
		padding: 16px 0;
		cursor: pointer;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: bold;
		font-size: 12px;
		color: #666;

		&:hover {
			color: #333;
		}
	}

	.karCont {
		display: none;
		padding: 16px 0;
		border-bottom: solid 1px #c4ad91;

		ul {
			margin-left: 2em;
		}
	}

	.karGo {
		border: solid 2px #00692c;
		padding: 16px;
		margin-top: 24px;
		color: #00692c;
		border-radius: 5px;
	}

	.topRow {
		height: 60px;
		font-weight: bold;
		color: #02682c;
	}
}
