.wpcf7-form {
	--width-form: 450px;
	--spacing-inner: 4px;
	--spacing-outer: calc(var(--spacing-inner) * 2);

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	textarea {
		font-size: 16px;
		padding: var(--spacing-inner);
		width: 100%;
		max-width: var(--width-form);
		border: 2px solid #c4ad91;

		&:focus-visible {
			border-color: #00692c;
			outline: none;
		}
	}

	textarea {
		height: 6em;
	}

	label {
		cursor: pointer;
		font-weight: 600;
	}

	p {
		margin-bottom: var(--spacing-outer);
	}

	.wpcf7-checkbox {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 8px;
		margin: {
			top: var(--spacing-inner);
			left: calc(var(--spacing-inner) * -1);
		}
	}

	.wpcf7-list-item {
		margin-left: 0;

		label {
			display: flex;
			gap: var(--spacing-outer);
			align-items: center;
			max-width: var(--width-form);
			padding: var(--spacing-inner);
			font-weight: 400;
			line-height: 1.35;
			transition: background-color 200ms;

			@media (hover: hover) {

				&:hover {
					background-color: rgba(0,0,0,0.05);
				}
			}
		}

		input[type='checkbox'] {
			width: 16px;
			height: 16px;
			flex: none;
		}
	}

	.wpcf7-acceptance {
		font-size: 13px;
	}

	.wpcf7-submit {
		@extend .button;
	}
}
