.c-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;

	&.is-active {
		display: flex;
	}

	&__container {
		width: 100%;
		max-width: 602px;
		background-color: #fff;
		padding: 24px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		position: relative;
	}

	&__close {
		@extend .overlayclose;

		right: 0;
		top: 0;
		border-left: 2px solid #FFF;
		border-bottom: 2px solid #FFF;
		border-bottom-left-radius: 5px;
	}

	&--image {

		.c-modal__container {
			padding: 0;
		}

		img {
			max-width: 100%;
		}
	}
}
