.single-page {
	padding: 24px;
	font-size: 16px;

	h1, h2 {
		color: inherit;
	}

	h1, h2, p, ul {
		margin-bottom: 16px;
	}

	ul {
		margin-left: 2em;
	}

	iframe {
		width: 100%;
		height: auto;
		display: block;
		aspect-ratio: 16 / 9;
		margin-bottom: 16px;
	}
}
